.SplunkVizHM {
    clear:both;
    padding:0px;
    _padding:0px 5px;
}
.SplunkVizHM .SplunkVizHMWrapper {
	overflow-x: auto;
    overflow-y: hidden;
    padding: 0px 10px;
    _padding: 0px;
    _width:100%;
    *position:relative;
}
.SplunkVizHM table.CustomResultsTable {
    white-space:nowrap;   
}
.SplunkVizHM table.SplunkVizHM td.pos,
.SplunkVizHM table.SplunkVizHM th.pos {
    padding: 3px 10px 5px 5px;
    width: 15px;
}
.SplunkVizHM splMenu ul {
    margin-top: -2px
}


#plotWrapper {
border: 1px solid #000000;
width: 600px;
height: 400px;
margin:0;
padding:0;
background-color:#FFFFFF;
}

.clusterColumn {
background-color: olive;
width:25px;
height:400px;
margin:0;
padding:0;
float:right;

}
.clusterBox {
background-color:red;
width:25px;
height:25px;
margin:0;
padding:0;
font-size:0px;
}

#controllerBar {
height:25px;
clear: both;
padding: 5px;
}

